.navbar{
    padding: 5px;
    background-color:#6f3b38;
}
.fixed_content {
    top: 0;
    left: 0;
    position:fixed;
    width: 100vw;
   

}

.logo a{
    text-decoration: none;
    color: white;
}
.lista{
    list-style: none;
    display: flex;
}
.item{
    margin: 0 5px ;
}
.item a{
    text-decoration: none;
    color: white;
}
.item a:hover{
    color: #e1ed89;
}