.card{
    padding: 5px;
    width: 25%;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;

}
.card div{
    margin-bottom: 2em;
}
.card svg{
    background-color: green;
    color: white;
    padding: 5px;
    font-size: 50px;
    border-radius: 50%;
    cursor: pointer;
}