.home{
    
    display: flex;
    
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    
    justify-content: space-around;
    align-items: center;
    
    
}
.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home h1{
    font-weight: bold;
}
.btn {
    color: #D4EE5E;
    background-color: transparent;
    border: 2px solid #D4EE5E;
    border-radius: 50px;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    transition: .5s;
    margin-top: 5px;
}
.btn:hover{
    color: #f0f2fb;
    border-color: #f0f2fb;

}